
<div class="bg-white p-4 shadow-md sm:shadow-md mb-0">
    <div class="container mx-auto">
      <div class="flex justify-between items-center">
        <div class="logo ml-5">
          <a href="/" class="font-semibold leading-6 text-gray-900">
          Contratar
        </a>
        </div>
        <% if (isAuthenticated) { %>
        <div class="flex items-center">
            <a href="/" class="hover:underline ml-4">
              Inicio
            </a>
            <a href="/jobs" class="hover:underline ml-4">
              Trabajos
            </a>
            <a href="/users" class="hover:underline ml-4">
              Usuarios
            </a>
            <li class="flex items-center flex-col ml-5 mr-3 relative">
              <!-- Imagen de perfil -->
              <img src="<%= user.profileImage %>" alt="" class="rounded-full w-8 h-8 object-cover cursor-pointer">
        
              <!-- Dropdown oculto -->
              <div class="absolute hidden mt-10 mr-10 w-35 bg-white border border-gray-300 rounded-lg shadow-lg z-10">
                <!-- Contenido del dropdown -->
                <a href="/profile" class="block px-4 py-2 hover:bg-gray-100">Perfil</a>
                <a href="/logout" class="block px-4 py-2 hover:bg-gray-100">Logout</a> 
              </div>
            </li>
            
            <!-- JavaScript para mostrar/ocultar el dropdown -->
            <script>
              const dropdown = document.querySelector('.relative');
              const dropdownContent = dropdown.querySelector('.absolute');
            
              dropdown.addEventListener('click', () => {
                dropdownContent.classList.toggle('hidden');
              });
            
              // Cerrar el dropdown al hacer clic fuera de él
              document.addEventListener('click', (event) => {
                if (!dropdown.contains(event.target)) {
                  dropdownContent.classList.add('hidden');
                }
              });
            </script>
          <% } else { %>
            <div class="flex items-center mr-5">
              <div class="flex-1 justify-end mt-2">
                <a href="/login" class="text-sm font-semibold leading-6 text-gray-900">Iniciar sesion <span aria-hidden="true">&rarr;</span></a>
              </div>
             </div>
            <% } %>
        </div>
      </div>
    </div>
  </div>