<!--PopUp-->
<% if (!user.premium) { %>
<div id="popup" class="alert bg-violet-400 z-10 absolute bottom-1 sm:px-20 animate__animated animate__fadeInUp animate__delay-5s" style="display: flex; position: fixed;">
    <p class="text-white"><span class="hidden sm:flex">Contrata el plan Premuim y gana</span>más visibilidad y metricas personalizadas.</p>
    <div>
        <button id="cancelButton" class="bg-violet-300 text-white p-2 rounded hover:bg-violet-500">cancelar</button>
        <form action="/generate-payment-preference" method="POST">
            <input type="hidden" name="id" value="<%= user.id %>">
            <input type="submit" class="bg-violet-600 text-white p-2 rounded hover:bg-violet-700" value="Pasar a premium">
          </form>
    </div>
</div>
<script>
 
     // Función para ocultar el PopUp al hacer clic en el botón "cancelar"
     document.getElementById('cancelButton').addEventListener('click', function () {
         document.getElementById('popup').className = 'alert bg-violet-400 z-10 absolute bottom-1 sm:px-20 animate__animated animate__fadeOutDown';
     });
 
     // Llamar a la función para mostrar el PopUp después de cargar la página
     window.onload = mostrarPopUp;
 </script>
<% } %>