<!DOCTYPE html>
<html lang="es">
<head>
  <title>Inicio</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="shortcut icon" href="images/AR.png" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="bg-gray-100">
  <!-- NavBar -->
  <%- include('partials/navbar') %>

  <% if (user) { %>
    <div class="flex items-center justify-center">
      <div class="text-center mt-10">
        <p class="text-4xl font-semibold">
          Encontrá el
          <span id="word-to-change" class="text-indigo-500 word-transition ml-2 mr-1"></span>
          que nececitas
        </p>
      </div>
    </div>
    <div class="flex items-center justify-center mt-5 mb-5 sm:mt-10">
      <div class="2xl:w-3/4 px-8 md:px-32 lg:px-16 2xl:px-0">
        <div class="w-full grid grid-cols-1 xl:grid-cols-2 gap-8 ">
          <a href="/jobs" class="col-md-6 col-lg-6 col-xl-6">
            <div class="card rounded overflow-hidden shadow-lg mx-auto">
            <img src="/images/empleados.jpg" alt="Sunset in the mountains" class="foto-inicio-1 h-32 object-cover rounded-t-lg">
            <div class="px-6 py-4">
              <div class="font-bold text-xl mb-2 text-center">Ver ofertas</div>
            
            <div class="px-6">
              <p class="text-center">
                <span class="text-4xl font-bold text-indigo-500">
                  <%= offerCount %>
                </span>
                <span class="text-xs uppercase text-gray-500">
                  <span>ofertas activas</span>
                </span>
              </p>
            </div>
          </div>
          </div>
        </a>
    
        <a href="/users" class="col-md-6 col-lg-6 col-xl-6">
          <div class="card rounded overflow-hidden shadow-lg mx-auto">
            <img src="/images/candidatos.jpg" alt="Sunset in the mountains" class="foto-inicio-2 h-32 object-cover rounded-t-lg">
            <div class="px-6 py-4">
              <div class="font-bold text-xl text-center">Ver candidatos</div>
            <div class="px-6 mb-4">
              <p class="text-center">
                <span class="text-4xl font-bold text-indigo-500">
                  <%= userCount %>
                </span>
                <span class="text-xs uppercase text-gray-500">
                  <span>candidatos</span>
                </span>
              </p>
            </div>
          </div>
          </div>
        </a>
        </div>
      </div>
    </div>
    
</div>


  <% } else { %>

      
    <div class="bg-gray-100 min-h-screen mt-20 sm:mt-0 md:mt-0 lg:mt-0 lg:px-8">
      <div class="relative px-6">
        <div class="absolute inset-x-0 -top-0 sm:-top-1/2 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
          <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
        </div>
        <div class="mx-auto max-w-2xl sm:py-20">
          <div class="hidden sm:mb-8 sm:flex sm:justify-center">
            <div class="relative rounded-full px-3 py-1 text-sm leading-6 text-gray-600 ring-1 ring-indigo-500 hover:ring-gray-900/20">
              Vayamos por este camino juntos. <a href="/signup" class="font-semibold text-indigo-500"><span class="absolute inset-0" aria-hidden="true"></span>Ver más <span aria-hidden="true">&rarr;</span></a>
            </div>
          </div>
          <div class="text-center">
            <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Conseguí trabajo con nosotros</h1>
            <p class="mt-6 text-lg leading-8 text-gray-600">Somos una Tech Startup sin fines de lucro que se dedica a juntar personas con futuras ofertas laborales.</p>
            <div class="mt-10 flex items-center justify-center gap-x-6">
              <a href="/login" class="rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:bg-indigo-600">Iniciar sesión</a>
              <a href="/signup" class="rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:bg-indigo-600">Crear cuenta</a>
            </div>
          </div>
        </div>
        <div class="absolute inset-x-0 -top-0 sm:top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-[calc(100%-30rem)]" aria-hidden="true">
          <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
        </div>
      </div>
    </div>
    
    
    
    
    
  <% } %>

<script src="/utils/fade.js"></script>
</body>
</html>
