<!DOCTYPE html>
<html>
<head>
  <title>Sign Up</title>
  <!-- Agrega el enlace a tu archivo CSS de Tailwind -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="bg-gray-100 min-h-screen flex items-center justify-center">
  <div class="bg-white p-8 rounded-lg shadow-md w-full sm:w-2/3 md:w-1/2 lg:w-1/3 text-center">
    <h1 class="text-2xl font-bold mb-4">Crear cuenta</h1>
    <form action="/signup" method="post">
      <input type="text" name="fullName" placeholder="Nombre completo" required class="w-full p-2 mb-2 rounded">
      <input type="text" name="username" placeholder="Usuario" required class="w-full p-2 mb-2 rounded">
      <input type="password" name="password" placeholder="Contraseña" required class="w-full p-2 mb-2 rounded">
      <input type="email" name="email" placeholder="Correo electrónico" required class="w-full p-2 mb-2 rounded">
      <input type="tel" name="contact" placeholder="Número de celular" required class="w-full p-2 mb-2 rounded">
      <select name="profession" required class="w-full p-2 mb-4 rounded" onchange="togglePriceField()">
        <option value="" disabled selected>Área de trabajo</option>
        <option value="Tecnologia">Tecnologia</option>
        <option value="Gastronomia">Gastronomia</option>
        <option value="Abogacia">Abogacia</option>
        <option value="Indumentaria">Indumentaria</option>
        <option value="Economia">Economia</option>
        <option value="Arquitectura">Arquitectura</option>
        <option value="Diseño">Diseño</option>
        <option value="Constructores">Constructores</option>
        <option value="Redes sociales">Redes sociales</option>
        <option value="Reclutador">Estoy buscando empleados</option>
      </select>
      <select name="price" class="w-full p-2 mb-2 rounded">
        <option value="" disabled selected>Selecciona un precio por hora</option>
        <% for (let price = 1500; price <= 9500; price += 500) { %>
          <option value="<%= price %>">$<%= price %> por hora</option>
        <% } %>
      </select>
      <button type="submit" class="bg-indigo-500 text-white px-4 py-2 rounded hover:bg-indigo-600 w-full">Crear</button>
    </form>
    
    <p class="my-2">¿Ya tienes una cuenta? <a href="/login" class="text-indigo-500 hover:underline">Inicia sesión</a></p>
    
    <% if (typeof error !== 'undefined') { %>
      <p class="text-red-500 my-2"><%= error %></p>
    <% } %>
  </div>
  <script src="/utils/signUp.js"></script>

</body>
</html>
