
#editPhotoLink{
    position: absolute;
    margin-left: 20px;
    margin-top: 50px;
}

@media (max-width: 768px) {
    #editPhotoLink {
        position: absolute;
        margin-left: 20px;
        margin-top: 50px;
    }
  }


  /*Index*/

  .foto-inicio-1{
    min-height: 200px;
    min-width: 100%;
  }
  .foto-inicio-2{
    min-height: 200px;
    min-width: 100%;
  }

  .card{
    max-height: 300px;
  }

  /*LOGO*/
  .logo img{
    width: 80px;
    height: 50px;
    margin-left: 50px;
  }

  /*SEPARADOR*/

  .curved {
    position: relative;
    background: #75AADB;
    height: 20vh;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
  }



  @media (min-width: 768px) {

  }
  .card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: .3s;
  }
  .word-transition {
    position: relative;
    animation: slideUpDown 10s  alternate;
  }
  .word-fade {
    position: relative;
    animation: fade 5s  alternate;
  }
  @keyframes fade {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  @keyframes slideUpDown {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }



  /*Users*/

  .user-card {
    overflow: hidden;
    transition: height 1s;
  }
  .card.expanded {
    height: auto;
  }
  .arrow-down {
    transform: rotate(0deg);
    transition: transform 0.2s;
  }
  .expanded .arrow-down {
    transform: rotate(180deg);
  }
  .breadcrumb {
    display: none;
    margin-top: -15px;
    padding: 10px;
    background-color: transparent;
  }
  .expanded .breadcrumb {
    display: block;
  }
  
  
  
  
  
/*Jobs*/

